{% extends 'bulletinboard/index.html' %}

{% block content %}
<style>
.button {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Arial';
	background-color: #FF0033;
	line-height: 100px;
	color: black;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
	padding: 10px 31px;
	margin-right:10px;
	border: 2px solid;
}

.buttonYes {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Arial';
	background-color: #00AB00;
	line-height: 100px;
	color: black;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
	padding: 10px 10px;
	margin-right:10px;
	border: 2px solid;
}

.button:hover {
	color: black;
	padding: 12px 33.5px;
}

.buttonYes:hover {
	color: black;
	padding: 12px 12px;
}

.span {
	color:white;
}
</style>
<h1>Все отклики</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" class = 'btn' style = 'margin-bottom: 20px'/>
    </form>
<ul class="list-articles">
	{% for m in messages %}
		<li><div class="article-panel">
			<p class="first">Пост: {{m.post.title|truncatewords:10}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Автор: {{m.author}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% if m.is_approved %}
				Статус: Подтверждено!
				{% else %}
				Статус: Ожидает подтверждения...
				{% endif %}
					</p>
			<p class="last">Дата: {{m.creation_time|date:"d-m-Y H:i:s"}}</p>
		</div>
			<p>{{m.text}}</p>
			<div class="clear"></div>
			{% if not m.is_approved %}
			<p class="link-read-post" style = 'margin-bottom: -50px;'>
				<a href="{% url 'approve_message' message_id=m.id %}" class = 'buttonYes'>
					<span class = 'span'>Подтвердить</span>
				</a>
			</p>
			{% endif %}
			<p class="link-read-post" style = 'margin-bottom: -5px;'>
				<a href="{% url 'message_delete' pk=m.id %}" class = 'button'>
					<span class = 'span'>Удалить</span>
				</a>
			</p>
			</li>
	{% endfor %}
</ul>
{% endblock %}


